:root {
  --height: 300px;
  --width: 300px;
  --aspect-ratio: 1;
}

.carousel-container {
  width: var(--width);
  height: var(--height);
  position: relative;
}

.image-wrapper {
  display: flex;
  overflow: hidden;
}

.corusel-img {
  object-fit: cover;
  aspect-ratio: var(--aspect-ratio);
}

.carousel-button {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid gray;
  font-size: 25px;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}
