.parentContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
}
.container {
  cursor: pointer;
  margin-top: 10px;
  height: 100px;
  width: 100px;
  background-color: cornsilk;
}

.container:hover {
  background-color: aquamarine;
}

.active {
  border-top: 4px solid green;
}
